/*
	other styles
*/
table.azrcrv-uam{
	border-spacing: 0;
	border-collapse: collapse;
}
th.azrcrv-uam{
	padding-bottom: 6px;
	margin-bottom: 6px;
}
tr.azrcrv-uam, td.azrcrv-uam{
	padding: 3px;
	margin: 3px;
}
